/* .mynav{ */
    /* background-image: url(../images/02-hero-bg.jpg);
    background-image: url(../images/Obee1.jpg); */
    
    /* background: url(../images/02-hero-bg.jpg) right bottom no-repeat, url(../images/Obee1.jpg) left top no-repeat;

    height: 300px;
    width:25% 75%;
} */

/* Adding styles to Navbar  */
.navbar .navbar-brand {
    color: #fff;
    font-size: 40px;
    /* background-color: rgb(18, 154, 161); */
    padding-left: 20px;
    padding-right: 10px;
    margin-left: 0;
   
}

.navbar .navbar-nav  {
   margin: 0 0 0 auto;
   /* background-color:rgb(18, 154, 161); */
}

.navbar .nav-item a{
    color: white !important;
    font-size: 28px;
    }

/* Adding styles to Welcome section  */

.jumbotron .display-4,
.jumbotron .lead  {
    margin: 10px auto;
    max-width: 50%;

/*Positioning the hire me button  */
} 
.jumbotron .btn-primary {
    position:relative;
    left: 360px;
    top:30px;
    color: #fff !important;}

/* Adding styles to Work section */


.my-wk{
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.cardContainer {
    display: grid;
    margin-bottom: 15px;
    justify-content: center;
    margin-left: 180px;
}

/* .jumbotron-special { 
   display:flex;
   width:100%;
} */



.jumbotron-special #abt-2 {
    font-size: 18px;
}


 
/* Style buttons */
.about-me .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
   
  }
  
  /* Darker background on mouse-over */
  .about-me .btn:hover {
    background-color: RoyalBlue;
  }
 .about-me .my-image{
    border-radius: 50%;
    height: 300px; 
 }
  #abt-1 {
    color: #fff;
    font-size: 32px;
    
    
}
.abt-section{
    background-color: gray;
    padding-top: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.about-1{
    margin: 30px;
}
#abt-2{
    font-size: 18px;
    color: #fff;
}