
/* Adding styles to Navbar  */
.navbar .navbar-brand {
    color: #fff;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 10px;
    margin-left: 0; 
}

.navbar .navbar-nav  {
   margin: 0 0 0 auto;  
}

.navbar .nav-item a{
    color: white !important;
    font-size: 28px;
}

.navbar .nav-item a:hover{
    background-color: blue;
}

/* Adding styles to Welcome section  */

/*Styling the hire me button  */
 
.jumbotron .btn-primary {
   color: #fff !important;
   cursor:pointer}

/* Adding styles to Work section */


.my-wk{
    font-size: 32px;
  
}

.cardContainer {
    display: grid;
    margin-bottom: 15px;
    justify-content: center;
    margin-left: 180px;
}
/* Transforming the work section */

.card:hover{ 
  transform:scale(1.05);
}
 
/* Style buttons */
.about-me .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    position:relative;
    left: 20px;
 
  }
  
  /* Darker background on mouse-over */
  .about-me .btn:hover {
    background-color: RoyalBlue;
  }
 .about-me .my-image{
    
    border-radius: 50%;
    height: 250px; 
 }
  #abt-1 {
    color: #fff;
    font-size: 32px;   
    
}
.abt-section{
    background-color: gray;
    padding-top: 20px;
    padding-bottom: 60px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.about-1{
    margin: 35px;
}
#abt-2{
    font-size: 18px;
    color: #fff;
}
.about-2{
    margin: 20px;
}
/* Add styling to Contact Me */

.contact-section{
    /* background-color: #d3d3d3; */
    background-color: #eee;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-bottom: 40px;
   
}

.contact-1{
    margin: 35px;
}
#ct-2{
    font-size: 22px;
    color:black;
}

#ct-1 {
    color: black;
    font-size: 32px;    
}

#ct-3{
    font-size: 22px;
    color:black;
}


#nb,#ema{
    color:dodgerblue;
    font-size: 20px;
}
/* Darker and bolder background on hover */
#nb:hover,
#ema:hover{
    color:royalblue;
    font-weight: bold;}

/* Styling footer */
.linkd, .gh, .fb{
    color:dodgerblue;
    font-size: 40px;
    text-decoration: none !important;
    margin:0 10px;
          
}

.linkd:hover,
.gh:hover,
.fb:hover{
    color:royalblue;
}

.my-media{
    margin-bottom: 30px;
    
}